{{#each itemController="Job"}}
  <div class="job">
    <div>{{data.title}} <span class="label label-info">{{type}}</span></div>
      <div>
        <a style="margin-top:10px" class="btn btn-default " {{action "toggleCode"}} href="#">Show job data</a>

        {{#if error}}
          <a style="margin-top:10px" class="btn btn-default " {{action "toggleError"}} href="#">Show Error</a>
        {{/if}}

        {{#if failed}}
          <a style="margin-top:10px" class="btn btn-primary " {{action "retry"}} href="#">Retry</a>

          <a style="margin-top:10px" class="btn btn-warning " {{action "retryType"}} href="#">Retry all {{type}}s</a>
        {{/if}}

        <a style="margin-top:10px" class="btn btn-danger " {{action "remove"}} href="#">Delete</a>

        <div {{bind-attr class="hideCode:hide"}} >
          {{code-highlighter code=data}}
        </div>

        {{#if error}}
          <div {{bind-attr class=":alert :alert-danger hideError:hide"}} class="" style="margin-top:20px">
            {{error}}
          </div>
        {{/if}}
      </div>

    <hr />
  </div>
{{/each}}