{{#each itemController="Job"}}
  <div class="job">
    <div>{{data.title}} <span class="label label-default">{{type}}</span></div>
      <div>
        {{#if failed}}
          <a style="margin-top:10px" class="btn btn-primary btn-sm" {{action "retry"}} href="#">Retry</a>

          <a style="margin-top:10px" class="btn btn-warning btn-sm" {{action "retryType"}} href="#">Retry all {{type}}s</a>
        {{else}}
          <a style="margin-top:10px" class="btn btn-primary btn-sm" {{action "retry"}} href="#">Rerun</a>
        {{/if}}

        <a style="margin-top:10px" class="btn btn-danger btn-sm" {{action "remove"}} href="#">Delete Job</a>


        <a style="margin-top:10px" class="btn btn-link btn-sm" {{action "toggleCode"}} href="#">Show data</a>

        {{#if error}}
          <a style="margin-top:10px" class="btn btn-link btn-sm" {{action "toggleError"}} href="#">Show Error</a>
        {{/if}}

        <div {{bind-attr class="hideCode:hide"}} >
          {{code-highlighter code=data}}
        </div>

        {{#if error}}
          <div {{bind-attr class=":alert :alert-danger hideError:hide"}} class="" style="margin-top:20px">
            {{error}}
          </div>
        {{/if}}
        <small class="pull-right">{{toAgo created_at}}</small>
      </div>

    <hr />
  </div>
{{/each}}